/* Header.css */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    color: #ddd;
  }
  
  a.active {
    color: #ddd;
  }
  
  #linkedin-button {
    background-color: #0077b5;
    padding: 8px 12px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
  }
  
  #linkedin-button:hover {
    background-color: #0056b3;
  }
  